#pageone{
    background-color:rgb(241,244,249) ;
    border:1px solid rgb(241,244,249);
    padding:120px 140px 160px 140px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;


}
ul{
    list-style-type: none;
    list-style-position: outside;
    font-family: 'Montserrat', sans-serif;
    
}
li a{
    display:block;
    color:rgb(115,126,136);
    margin:10px 16px;
    text-align:center;
    text-decoration:none;
    background-color:white;
} 

#nav{
    color:rgb(51, 53, 76);
    float:left;
    display:block;
    margin:12.5px 16px;
    text-align:center;
    text-decoration:none;
    background-color:white;
}
#navbar{
    /* border:2px solid white; */
    padding: 00px 40px 60px 60px;
    background-color: white;
    text-decoration: none;
}
.navigation{
    float:right;
    display:block;
    color:rgb(115,126,136);
    border:1px solid rgb(255, 255, 255);
    margin:14px 10px;
    text-align:center;
    text-decoration:none;
    background-color:white;
    overflow: none;
}
#nav_load{
    border:2px solid rgb(115,126,136);
        border-radius: 5px;
}
#block1{
    width:650px;
    font-size: 34px;
    font-style: bold;
    margin-top: 80px;
}
#subheading1{
    line-height: -50px; 
    font-size: 18px;  
    color:rgb(95,95,94);
}
#heading1{
    line-height: -15px;
    font-size: 44px;
}
#image{
    float:right;        
}
#seemore{
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(52,152,219);
    background-color:rgb(241,244,249);
    border:2px solid rgb(52,152,219);
    box-shadow: inset 1px 0px rgb(52,152,219) ;
    border-radius:5px;
    padding:15px 40px;
    line-height: -5px;
    margin:1px;
}
#download{
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 255, 255);
    background-color:rgb(33,191,115);
    border:1px solid rgb(33,191,115);
    box-shadow: -1px -1px rgb(33,191,115) ;
    border-radius:5px;
    padding:15px 40px;
    margin:1px;
}
#paraone{
    width:270px;
    font-size:14px;
    color:rgb(168,171,195)
}
#pagetwo{
    background-color:rgb(255,255,255) ;
    border:1px solid rgb(255,255,255);
    padding:120px 140px 0px 140px;
    padding-bottom: 50px;


}
#subheading2{
    font-size:18px ;
    font-weight: 400;
    color:rgb(33,191,115);
    font-family: 'Montserrat', sans-serif;
}
#heading2{
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    margin-top:-1px;
    margin-bottom: -1px;
}
#para{
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    width:600px;
    font-style: bold;
    color:rgb(166,167,168); 
}
#block2{
    width:550px;
    line-height:-100%;
}
.div{
    width:900px;
}
.subheading3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#block3{
    width:270px;
    float:left;
    background-color: rgb(248, 240, 228);
    box-shadow:-10px -9px 0px 0px rgb(253,242,229);
    box-shadow: 0px 0px 10px 9px rgb(253,242,229) ;
    padding: 50px;
    margin:20px 20px 20px 0px;
}
#block4{
    width:270px;
    background-color: rgb(248, 249, 251);
    box-shadow:2px 2px 0px 0px rgb(246,248,250);
    clear:both;
    padding: 50px;
    margin:20px;
}
#block5{
    width:270px;
    float:right;
    background-color: rgb(241, 245, 248);
    box-shadow: rgb(244,245,247);
    padding: 50px;
    margin:20px;
}
.block{
    width:230px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.disc{
    color: rgb(178,176,186);
    font-style: bold;
    font-size: 16px;
}
#blocks{
    display:flex;
    flex-direction: row;
}